@import 'Config';
@import 'font.Face';
html{
  touch-action: manipulation;
  // width: 100%; height: 100%;
  @include scrollbar();
}

img{border:none;}
a, span{
  text-decoration:none; outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  -user-select:none;
  -webkit-touch-callout:none;
}
*{padding:0;margin:0;}

body {
  @extend html; font-family:$Font; color:$Color;font-size:$FontSize;
  background-color: $ColorBackground;
  >div:first-child{
    display: flex;
    flex-direction: column;
    // justify-content: flex-start; /* align items in Main Axis */
    // align-items: stretch; /* align items in Cross Axis */
    // align-content: stretch; /* Extra space in Cross Axis */
    >div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // align-items: stretch;
      // text-align: center;
      vertical-align: middle;

      padding: 10px 3%;
      // width: 90%;
      // overflow: hidden;
      &.bar {
        @include user-select();
        box-shadow: 0em 0em 0.2em rgba(0,0,0,0.3);
        >div{
          &:nth-child(1){
            h1{
              text-transform: uppercase;
              font-size: 110%;
              font-weight: lighter;
            }

          }
          &:nth-child(2){
            a {
              display: inline-flex;
              // flex-direction: column;
              // justify-content: space-between;
              vertical-align: middle;
              color: #fff;
              font-size: 80%;
              &.link{
                padding: 2.5px 5px;
                background-color: rgb(19, 192, 77);
                border-radius: 3px;
                box-shadow: 0.1em 0.1em 0.1em rgba(31, 30, 30, 0);
              }
            }
          }
        }
      }
      &.wrapper{
        flex: 1;
        >div{
          display: flex;
          flex-direction: column;
          width: 100%;
          >div{
            // min-width: 300px;

            &:nth-child(1){
              >div{
                padding: 15px;
                border-radius: 3px;
                // width: 400px;
                // width: 80%;
                background-color: lighten(lightyellow,5);
                box-shadow:inset 0em 0em 0.2em gray;
                outline: none;
                &:focus{
                  background-color: lighten(lightyellow,1);
                }
              }
            }
            &:nth-child(2){
              margin-top: 10px;
            }
            &.result{
              >div{
                padding: 15px;
                margin: 1% 0;
                border-radius: 3px;
                box-shadow: inset 0em 0em 0.4em rgb(214, 213, 213);
                >p{
                  font-size: 120%;
                  line-height: 20px;
                  color:lighten(grey,30);
                  padding: 5px 0 15px 0;
                  border-bottom: 1px dotted gray;
                  span{
                    &:nth-child(1){
                      color: green;
                    }
                    &:nth-child(2){
                      color:darken(grey,10);
                    }
                  }
                }
                ul{

                  color: lightyellow;
                  list-style: none;
                  li{
                    margin: 15px 0;
                    color:darken(gray,20);
                  }
                }
              }
            }
          }

        }
      }
      &.footer{
        // display: flex;
        // flex-direction: row;
        // justify-content:center;
        // background-color: red;
        >div{
          // text-align: center;
          a {
            // display: inline-block;
          }
        }
      }
    }
  }
  @media #{$media-mobile} {
    >div:first-child{
      // display: flex;
      // flex-direction: column;
      >div {
        &.bar {
          >div{
            a.badge{
              display: none;
            }
          }
        }
        &.footer{
          // justify-content:center;
          // flex-direction: column;
          // vertical-align: middle;
          >div{
            // display: flex;
            // flex-direction: column;
            // justify-content:center;
            // background-color: red;
            // text-align: center;
            a {
              // display: inline-block;
            }
          }
        }
      }
    }
  }
  // @media #{$media-mobile} {}
  // @media #{$media-tablet} {}
  // @media #{$media-desktop} {}
}
