<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myanmar notation</title>
  <meta name="description" content="get Myanmar digital and notation">
  <link rel="shortcut icon" href="favicon.png" type="image/png">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

  <link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="manifest" href="app.webmanifest">

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script> -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue-router"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3/dist/vue-resource.min.js"></script> -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue-router"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue-router@4.1.6/dist/vue-router.global.prod.js"></script>
  <!-- <script src="https://unpkg.com/vue-router@4.1.6/dist/vue-router.global.js"></script> -->

  <!-- <script src="https://unpkg.com/myanmar-notation@latest/min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/myanmar-notation@latest/min.js"></script>
  <!-- <script src="min.js"></script> -->
</head>
<body>
  <div id="app">
      <div class="bar">
        <div>
          <h1>Myanmar notation</h1>
        </div>
        <div>
          <a href="https://github.com/khensolomon/myanmar-notation/issues/new" class="link">issue</a>
          <a target="_blank" class="badge github"
            href="https://github.com/khensolomon/myanmar-notation/workflows/Node/badge.svg">
            <img src="https://github.com/khensolomon/myanmar-notation/workflows/Node/badge.svg" alt="Github">
          </a>
          <a href="https://app.travis-ci.com/khensolomon/myanmar-notation" class="badge travis">
            <img alt="Build Status" src="https://app.travis-ci.com/khensolomon/myanmar-notation.svg">
          </a>
        </div>
      </div>
      <!-- <router-view class="wrapper"></router-view> -->
      <div class="wrapper">
        <div class="container">
          <!-- <form action="#">
              <textarea name="text" id="text"></textarea>
            </form> -->
          <div>
            <div contenteditable="true" @input="handleInput" ref="handleId">
              <!-- <div v-for="item in contentQuery" :key="item" v-html="item"></div> -->
            </div>
          </div>
          <!-- <div contenteditable="false" v-html="contentValue">result</div> -->
          <div class="result">
            <div v-for="item in notation" v-bind:key="item">
              <p>
                <span v-html="item.number"></span> <span v-html="item.digit"></span> .get(<span v-html="item.query"></span>)
              </p>
              <ul v-for="sense in item.notation" v-bind:key="sense">
                <li v-html="sense.sense"></li>
              </ul>
              <!-- <p v-html="item" class="json"></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <a href="https://github.com/khensolomon/myanmar-notation/network">
            <img alt="GitHub forks" src="https://img.shields.io/github/forks/khensolomon/myanmar-notation?style=social">
          </a>

          <a href="https://github.com/khensolomon/myanmar-notation/stargazers">
            <img alt="GitHub stars" src="https://img.shields.io/github/stars/khensolomon/myanmar-notation?style=social">
          </a>
          <a href="https://github.com/khensolomon/myanmar-notation/issues">
            <img alt="GitHub issues" src="https://img.shields.io/github/issues/khensolomon/myanmar-notation?style=social">
          </a>
        </div>
        <div>
          <a href="https://github.com/khensolomon/myanmar-notation/blob/master/LICENSE">
            <img alt="GitHub license" src="https://img.shields.io/github/license/khensolomon/myanmar-notation?style=social">
          </a>
        </div>
      </div>
  </div>

  <script src="script.js"></script>
  <link rel="stylesheet" href="style.css">
</body>
</html>